node_modules
dist
.git
.gitignore
.dockerignore
__pycache__
*.pyc
*.pyo
*.pyd
.db
instance/
backend/venv/
backend/__pycache__/
venv/
.env
README.md
*.bat
*.txt
*.md
eslint.config.js
vite.config.js
index.html
package-lock.json
package.json
src/
public/